# Node modules
node_modules/

# Generated documentation
docs/

# Build / distribution folders
.dist/
dist/

# package
package-lock.json
package.json

# OS / editor files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log